<h2 style="color: blue">Centro de mensajes</h2>
<h2 style="color: blue"><div id="compression"></div></h2>
<input type="email" id="chat-email" placeholder="user@email.com" /><br/>
<input type="text" id="chat-name" placeholder="nombre" /><br/>
<input type="text" id="chat-lastName" placeholder="apellido" /><br/>
<input type="number" id="chat-age" placeholder="edad" /><br/>

<input type="text" id="chat-alias" placeholder="alias" /><br/>
<input type="url" id="chat-avatar" placeholder="https://mi-avatar.gif" /><br/>
<input type="text" id="chat-message" placeholder="mensaje!" /><br/>
<input type="button" id="send" class="btn bootstrap-combined" value="Send"></input><br/>
<hr>
<div id="messages"></div>


<script src="/public/input-chat.js"></script>